a:visited {color:grey; background-color:transparent; text-decoration:none}

header {
	height: 300;
	background-image: url("header.png");
	background-repeat: no-repeat;
	background-position: center;
}

body {
	background-color: #e6edf2;
}

h1 {
	color: #004060;
	font-size: 30;
}

h2 {
	color: grey;
	font-size: 12;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #004b7e;
  text-align: center;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 24;
}

li a:hover {
  background-color: #fac800;
  color: white;
}

.active {
  background-color: #faaf00;
  color: white;
}

section {
  color:#004b7e;
  padding:10px;
  text-align: left;
  text-align: justify;
}

table {
  padding:10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 50%;
  background-color: #faaf00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fac800;
}

footer {
    background-color:#5b7da1;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}