/* a:visited {color:#E5E1DA; background-color:transparent; text-decoration:none} */

header {
	height: 200;
  background-color: #78a0a6;
	background-image: url("header.png");
	background-repeat: no-repeat;
	background-position: center;
}

body {
	background-color: #FBF9F1;
}

h1 {
	color: #004060;
	font-size: 30;
}

h2 {
	color: grey;
	font-size: 18;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #004060;
  text-align: center;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 24;
}

li a:hover {
  background-color: #AAD7D9;
  color: #004060;
}

.active {
  background-color: #92C7CF;
  color: #004060;
}

/* section {
  color:#004b7e;
  padding:10px;
  text-align: left;
  text-align: justify;
} */

table {
  border-collapse: 1px solid #92C7CF;
  width: 100%;
  padding: 10px;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=username] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

input[type=username], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 50%;
  background-color: #92C7CF;
  color: #004060;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #AAD7D9;
}

footer {
    background-color:#78a0a6;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

